.app-container {
  display: flex;
  gap: 50px;
}

#grid-container {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  width: 500px;
  height: 500px;
}

#grid-container > div {
  border: 1px solid #000;
}

.blue {
  background-color: blue;
}

.black {
  background-color: #000;
}

.obstacles-conatiner {
  display: flex;
  gap: 20px;
}

.obstacles-conatiner div {
  background-color: black;
  height: 50px;
  width: 50px;
}
